<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
<<<<<<< HEAD
    <%= link_to "Attendance App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path %></li>
=======
    <%= link_to "Attendance App", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top",   '#' %></li>
>>>>>>> page-layout
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>